*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  margin-bottom: 40px;
}

.bg-color {
  background-color: #f3008c !important;
  color: #ffffff !important;
}

.start-bg {
  background: url("./images/movierama.jpeg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  object-fit: cover;
}

body,
html {
  height: 100%;
  margin: 0;
}

.button-container {
  position: relative;
  height: 100%;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-enter {
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-entry {
  padding-top: 10%;
  margin-bottom: 30px;
}

.landing {
  color: #fff;
  font-family: "Mulish", sans-serif;
  text-align: center;
  line-height: 1.5;
}

.inactive {
  color: #fff;
  text-decoration: none;
  font-family: "Parisienne", cursive;
}

.title {
  color: #242424;
  font-family: "Parisienne", cursive;
  font-size: 3em;
}

.list-group-item.active {
  background-color: #ff0394 !important;
  border-color: #e2e2e2 !important;
}

.btn-danger {
  background-color: #f33636 !important;
}

.btn-primary,
.page-item.active,
.page-link {
  background-color: #ff0394 !important;
  border-color: #e2e2e2 !important;
  color: #fff !important;
}

.btn-location {
  margin-top: 50px;
  text-align: center;
}

.btn-entry {
  background-color: #f3008c !important;
  border-color: #e2e2e2 !important;
  color: #fff !important;
  width: 150px;
}

a {
  color: #ff0394 !important;
}

.navbar-brand {
  font-size: 3em !important;
}

.active {
  color: #fff;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
